span {

}

.wordDiv1 {
  /* display: inline;
  margin: 0 10px; */
  height: 100px;
}

.wordDiv2 {
  display: inline;
  margin: 0 10px;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
}

.modalStyle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
}

.modalStart {
  border-style: dotted;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  box-shadow: 10px 10px 10px #888;
}

.rulesDiv {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  position: absolute;
  background-color: white;
  left: 60%;
  border-style: dotted;
  display: none;
  box-shadow: 28px 40px 26px 42px #888;
}

.closeRulesDiv {

}

.closeRulesPara {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  border-style: groove;
  background-color: lightgrey;
  position: absolute;
  top: -12px;
  right: 3px;
}

.closeRulesPara:hover {
  background-color: #f9f107;
  cursor: pointer;
}

.hideNextRound {
  display: none;
}
button {
  font-family: 'IBM Plex Mono', monospace;

}
/* .printWord1 {
  margin: 0;
}

.printWord2 {
  margin: 0;
} */
